*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1250px;
	margin: auto;
}

/* =============== header ============ */
header{

}

#main__section {
	display: grid;
	grid-template-columns: 1.5fr 20px 4fr 20px 2.5fr;
	grid-template-areas: "navbar . main . aside";
}

/* =============== navbar ============== */
nav {
	grid-area: navbar;
}


main {
	grid-area: main;
}

/* =============== article ================ */
article{

}

/* ================= aside ================== */
aside {
	grid-area: aside;
}

/* media queries ( ************ A NE PAS TOUCHER **********) */
@media (max-width: 915px) {
	#main__section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "navbar"
							 "main"
							 "aside";
	}

	main, aside {
		min-width: 100%;
	}
}