*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #F1F1F1;
}
.container {
	max-width: 1250px;
	margin: auto;
}

/* =============== header ============ */
header{

}

#main__section {
	display: grid;
	grid-template-columns: 1.5fr 20px 4fr 20px 2.5fr;
	grid-template-areas: "navbar . main . aside";
}

/* =============== navbar ============== */
nav {
	grid-area: navbar;
	width: 100%;
	font-family: sans-serif;
}
#navbar a{
	text-decoration: none;
	color: black;
}
#navbar li:hover{
	border: 1px solid rgb(212, 209, 209);
	background-color: white;
	border-radius: 7px;
	padding: 5px;
}
#navbar li{
	list-style: none;
	font-size: 15px;
	line-height: 2rem;

}
@media (max-width: 425px){
	 #navbar{
		 display: flex;
		 padding: 1.5rem 1rem;
	 }
	 #navbar ul{
		 margin-right: 5rem;
	 }
}



main {
	grid-area: main;
}

/* =============== article ================ */
article{

}

/* ================= aside ================== */
aside {
	grid-area: aside;
	font-family: sans-serif;
}

/* STATUS */
.status{
	width: 100%;
	padding: 10px;
	border: 1px solid rgb(212, 209, 209);
	border-radius: 5px;
	background-color: white;
}

.profile { display: flex; }

.profile__img {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.profile__img img {
	max-width: 100%;
	display: block;
	border-radius: 50%;
}

.status__info { margin-top: 20px; }

.status__info p {
	font-size: 17px;
	line-height: 1.8rem;
}

/* SUGGESTION */
.suggestion {margin-top: 30px; }
.suggestion h2 {border-bottom: 1px solid black;}

.friends {
	margin: 15px 0px;
	display: flex;
}

.friends__profile {
	width: 100px;
	height: 100px;
	background-color: gray;
	margin-right: 10px;
}

.friends__info h3 { font-size: 20px; }

.friends__info p:first-of-type {
	font-size: 17px;
	opacity: 0.7;
	margin-top: 10px;
}

.friends__info p:last-of-type {
	font-weight: 500;
	margin-top: 1.5rem;
}

.friends__info p:last-of-type i { color: rgb(20, 183, 238); }

/* media queries ( ************ A NE PAS TOUCHER **********) */
@media (max-width: 915px) {
	#main__section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "navbar"
							 "main"
							 "aside";
	}

	main, aside {
		min-width: 100%;
	}
}